INFLUXDB_URL=http://influxdb:8181
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=my-bucket
INFLUXDB_USER=admin
INFLUXDB_PASSWORD=""
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=""
POSTGRES_DB=postgres_db
POSTGRES_PORT=5432